{% extends "layout.html" %}
{% block content %}
<div class="center">
  <h1>Rickroll Me</h1>
  <p>Create custom Rickrolls with ease</p>
</div>
<hr>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <article id="errorCard" class="pico-background-pink-600 hidden">Error Message</article>
    <article id="successCard" class="pico-background-jade-600 hidden">Successfully created link <a id="successLink" href="https://google.com" style="color: white;" target="_blank">https://google.com</a>!</article>
    <form onsubmit="submitNewRickroll(); return false;">
      <fieldset>
        <label>Custom URL Ending
          <input name="urlEnding" placeholder="/my-url-ending" required/>
        </label>
        <label>Site Title
          <input name="siteTitle" placeholder="Rickroll Me - The Best Rickroll Maker" required/>
        </label>
        <label>Site Name
          <input name="siteName" placeholder="Rickroll Me" required/>
        </label>
        <label>Link to Preview Image
          <input name="imgLink" type="url" placeholder="https://example.com/img.png" />
        </label>
        <label>Site Description
          <textarea name="siteDescription"
            placeholder="Rickroll me is one of the best Rickroll creators on the planet. Not only is it..."></textarea>
        </label>
      </fieldset>
      <input type="submit" value="Create Link" />
    </form>
  </div>
</div>

<script src="/static/index.js"></script>

{% endblock %}