<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rickroll Me</title>

    <!-- metadata -->
    <meta property="og:site_name" content="Rickroll Me" />
    <meta property="og:title" content="Rickroll Me URL Redirect Prank App" />
    <meta property="og:description" content="Make Rickroll redirects with custom site name, title, description, and image" />
    <meta property="og:image" content="/static/img/logo.png" />
    <meta property="og:type" content="website" />

    <!-- css styles -->
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/pico.colors.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.grid.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="container">
        {% block content %}
        {% endblock %}    
    </main>
</body>
</html>